@use "sass:map";
@use "sass:color";

/**********************************/
/************* COLORS *************/
/**********************************/
$background-color: #2D3561;
$highlight-color: #F3826F;
$title-color: #ffb961;
$font-color: #EAE7AF;

/**********************************/
/*********** TYPOGRAPHY ***********/
/**********************************/
$weights: ("thin": 200, "book": 400, "semibold": 600);
$headers: "h1", "h2", "h3";
$header-weight: ("h1": map.get($weights, "thin"), "h2": map.get($weights, "book"), "h3": map.get($weights, "book"));
$header-size: ("h1": 72, "h2": 32, "h3": 24);

body, html {
    // All content is dead center on the page, thanks flexbox!
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Serif', serif;
}

html {
    background: $background-color;
    animation: bgshift 3s ease-in-out infinite;
}

code {
    background: color.scale($background-color, $saturation: -30%);
    border: 1px solid color.scale($background-color, $saturation: -90%);
    border-radius: 8px;
    color: $highlight-color;
    padding: 0px 4px;
}

body {
    background: transparent;
}

html.droplet, html.spindrift {
    justify-content: flex-start;
}

body.droplet, body.spindrift {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    flex-grow: 1;
    max-width: 66%;

    p {
        font-weight: map.get($weights, 'book');
    }

    .droplet-date {
        color: $highlight-color;
    }

    .droplet-text {
        margin-bottom: 8px
    }

    .droplet-back {
        margin: 8px 0px;
        font-size: 18px;
    }
}

// Assemble our header styles like this, rather than having a ton of disparate rules
@each $header in $headers {
    #{$header} {
        font-size: map.get($header-size, $header) + px;
        font-weight: map.get($header-weight, $header);

        margin: 0rem 0rem 1rem 0rem;
        color: $title-color;

        a {
            color: $title-color
        }
    }
}

p {
    color: $font-color;
    font-size: 18px;
    font-weight: map.get($weights, "semibold");
    margin: 0;

    small {
        font-weight: map.get($weights, "book");
        font-size: 14px;
    }

    a {
        font-weight: map.get($weights, "thin");
    }

    &.lead {
        font-size: 24px;
        margin: 0rem 0rem 1rem 0rem;
    }
}

a {
    color: $font-color;
    text-decoration: none;

    &:hover {
        color: $highlight-color
    }

    &:blue {
        color: $highlight-color;
        &:hover {
            color: darken($highlight-color, 30%);
        }
    }
}

hr {
    width: 100%;
    border: 1px solid #888;
    margin: 16 0 16;
}

@keyframes bgshift {
    0% {
        background: $background-color
    }

    50% {
        background: lighten($background-color, 2%);
    }
}

.mainpage {
    margin: 0 16;
    text-align: center;
    flex-basis: 45%;
    flex-grow: 1;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &.split {
        justify-content: space-between;
    }
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    &.center {
        align-items: center;
    }

    &.left {
        align-items: flex-start;
        text-align: start;
    }

    &.right {
        align-items: flex-end;
        text-align: end;
    }
}

.tall {
    margin: 24 0;
}

.wide {
    width: 100%
}

.left {
    & :not(p) > a::after {
        text-decoration: underline;
        position: relative;
        left: 8;
        top: -8;
        font-size: 12;
        color: $highlight-color;
        content: '[link]';
    }
}

.right {

    & :not(p) > a::before {
        text-decoration: underline;
        position: relative;
        right: 8;
        top: -8;
        font-size: 12;
        color: $highlight-color;
        content: '[link]';
    }
}


.card {
    background-color: #242424;
    p, ul {
        color: #dddddd;
    }

    button.btn.btn-link {
        color: $title-color
    }
}

.footer {
    small.text-muted {
        color: $title-color !important
    }
}
