$background-color: #2D3561;
$font-color: #EAE7AF;
$highlight-color: #C05C7E;
$transition-color: #F3826F;
$title-color: #ffb961;

@import "../node_modules/bootstrap/scss/bootstrap";

body, html {
    justify-content: center;
    align-items: center;
    display: flex;
}

html {
    background: $background-color;
    animation: bgshift 60s ease infinite;
}

body {
    background: transparent;
    font-family: monospace;
}

p {
    color: $font-color;
}

p.lead {
    font-family: 'Overpass Mono', monospace;
    font-size: 1.5rem;
}

@keyframes bgshift {
    0% {
        background: $background-color;
    }
    33% {
        background: $transition-color;
    }
    66% {
        background: $highlight-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: $title-color;
    font-family: 'Major Mono Display', monospace;

    a {
        color: $title-color
    }

    font-weight: bolder;
}

h1.display-1 {
    font-size: 8rem;
}

a {
    color: $font-color;
    text-decoration: none;

    &:hover {
        color: darken($font-color, 10%);
    }

    &:blue {
        color: $highlight-color;
        &:hover {
            color: darken($highlight-color, 10%);
        }
    }
}
